.splash {
  background-color: black;
  color: rgb(255, 255, 255);
  font-family: interface, "Helvetica Neue", helvetica, sans-serif;
  height: 100%;
  
}

.logo{
  height: 100px;
}

.splash-header {
  display: flex;
  align-items: center;
  justify-content: center;


}
